.header {
  display: flex;
  align-items: center;
  border-style: double;
  border-color: purple;
  border-radius: 10px;
  height: 70px;
  color: white;
  width: 100%;
  text-shadow: 0 0 10px rgb(0, 0, 255);
}

.search-panel {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  display: flex;
  padding: 5px;
}

.searchfield-container {
  flex: 1;
}
