.header {
  display: flex;
  align-items: center;
  border-style: double;
  background-color: #1976d2;
  border-radius: 10px;
  height: 70px;
  color: white;
  width: 100%;
}

.search-panel {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.searchfield-container {
  flex: 1;
}
