.informationBlock {
  color: #000033;
  overflow-y: scroll;
  height: min-content;
  flex: 1;
}

@font-face {
  font-family: "SFDigital";
  src: url("../fonts/SF Digital Readout/SfDigitalReadoutMedium.ttf");
}

.information-panel-text {
  font-family: "SFDigital";
  font-size: 30px;
  color: #000033;
  margin: 10px 15px 0;
}

.information-panel-text:hover {
  background-color: #c5cfda;
  text-shadow: none;
  transition: background-color 0.3s ease-in;
}

.left-column,
.right-column {
  width: 50%;
  float: left;
}

.p-tasks-count {
  color: #000033;
}

.informationBlock {
  float: right;
  position: sticky;
  bottom: 0;
}

.all-tasks-done-text {
  animation: AllTasksDoneHasBeenAppeared 0.5s ease-in forwards;
}

@keyframes AllTasksDoneHasBeenAppeared {
  from {
    text-shadow: 0 0 10px green;
  }
}
