.informationBlock {
  border-style: double;
  border-color: purple;
  color: white;
  overflow-y: scroll;
  height: 50vh;
  width: 95%;
  flex: 1;
}

@font-face {
  font-family: "SFDigital";
  src: url("../fonts/SF Digital Readout/SfDigitalReadoutMedium.ttf");
}

.information-panel-text {
  font-family: "SFDigital";
  font-size: 30px;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
}

.information-panel-text:hover {
  background-color: #000033;
  text-shadow: 0 0 10px yellow;
  transition: all 0.01s ease-in;
}

.left-column,
.right-column {
  width: 50%;
  float: left;
}

.p-tasks-count {
  color: white;
}

.informationBlock {
  float: right;
  position: sticky;
  bottom: 0;
  padding: 10px;
}

.manager-buttons .MuiButtonBase-root {
  display: block;
  margin-bottom: 5px;
}
