.informationBlock {
  color: #000033;
  overflow-y: scroll;
  height: min-content;
  /* width: 95%; */
  flex: 1;
}

@font-face {
  font-family: "SFDigital";
  src: url("../fonts/SF Digital Readout/SfDigitalReadoutMedium.ttf");
}

.information-panel-text {
  font-family: "SFDigital";
  font-size: 30px;
  color: #000033;
  margin-left: 15px;
  margin-top: 10px;
}

.information-panel-text:hover {
  background-color: #c5cfda;
  text-shadow: 0 0 10px white;
  transition: all 0.3s ease-in;
}

.left-column,
.right-column {
  width: 50%;
  float: left;
}

.p-tasks-count {
  color: #000033;
}

.all-tasks-done-text {
  animation: AllTasksHasBeenAppeared 0.5s ease-in forwards;
}

@keyframes AllTasksDoneHasBeenAppeared {
  from {
    text-shadow: 0 0 10px green;
  }
}

@media (max-width: 768px) {
  .informationBlock {
    display: none;
  }
}