@keyframes hasBeenAppeared {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-inside .higher {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  animation: hasBeenAppeared 0.3s ease-in forwards;
}

.info-span {
  flex: 0 0 40%;
  height: 50vh;
  max-height: 50vh;
}

.tasks-span {
  flex: 0 0 60%;
  height: 50vh;
  max-height: 50vh;
}
