@keyframes hasBeenAppeared {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  width: 100%;
  animation: hasBeenAppeared 0.4s ease-in forwards;
}

.content-inside {
  display: flex;
  flex: 1;
  width: 100%;
  animation: hasBeenAppeared 0.5s ease-in forwards;
}

.higher {
  display: flex;
  /* flex: 1; */
  width: 100%;
}

.info-span,
.tasks-span {
  width: 50%;
  box-sizing: border-box;
}

.info-span {
  display: grid;
}
