.taskGraphs {
  background-color: white;
  border-top: 1px gray;
  max-height: 100%;
  overflow: y;
  background-color: #e7e7e7;
  color: #000033;
  display: inline list-item;
}

.kanban-board {
  max-height: 50vh;
  display: flex;
  justify-content: space-around;
  overflow: scroll;
  /* max-height: 40vh; */
  height: max-content;
  border-style: solid;
  border-color: gray;
  /* background-color: #000033; */
}

.graphs-header-buttons {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.column {
  flex: 1;
  padding: 20px;
  /* background-color: #00000d; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
  margin-bottom: 10px;
  max-height: 40px;
}

.task-id {
  flex-shrink: 0;
  margin-right: 5px;
}

.task {
  display: flex;
  margin-bottom: 10px;
  background-color: #e7e7e7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}

.task-title {
  overflow: scroll;
  border-bottom: 0.5px solid gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  min-width: 0;
}

.todo div:hover {
  text-shadow: 0 0 10px red;
  transition: text-shadow 0.2s ease-in-out;
}

.in-process div:hover {
  text-shadow: 0 0 10px orange;
  transition: text-shadow 0.2s ease-in-out;
}

.done div:hover {
  text-shadow: 0 0 10px green;
  transition: text-shadow 0.2s ease-in-out;
}

.kanban-header-h2-todo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px red;
}

.kanban-header-h2-in-process {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px orange;
}

.kanban-header-h2-done {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px green;
}

/* .eisenhower-matrix {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
  display: grid;
}

.quadrant {
  flex: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  overflow: scroll;
  flex-direction: column;
}

#important-urgent {
  background-color: #f8d7da;
}
#important-not-urgent {
  background-color: #d1ecf1;
}
#not-important-urgent {
  background-color: #fff3cd;
}
#not-important-not-urgent {
  background-color: #d4edda;
}

.em-matrix-part {
  width: 70%;
  display: contents;
}

.em-statistics-part {
  width: 30%;
  background-color: white;
} */

/* Eisenhower Matrix CSS */

.eisenhower-matrix {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 50vh;
}

.em-matrix-part,
.em-statistics-part {
  border: 1px solid #ccc;
  /* padding: 1em; */
}

.em-matrix-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  height: 100%;
  overflow: hidden;
}

.quadrant {
  background-color: rgb(226, 226, 226);
  border-style: solid;
  box-shadow: 0 0 20px #afada8;
  text-align: center;
  overflow: scroll;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.em-statistics-part {
  background-color: #e7e7e7;
  text-align: center;
}

.em-statistics-part h4:hover,
.em-statistics-part h4:focus {
  background-color: #f2f2f2;
}

.em-matrix-part .quadrant {
  transition: background-color 0.2s ease-in-out;
}

.num-of-curr-tasks {
  margin-bottom: 1px;
  float: right;
}

.em-statistics-part h4:hover ~ .em-matrix-part #important-urgent,
.em-statistics-part h4:focus ~ .em-matrix-part #important-urgent {
  background-color: blue;
}

.em-statistics-part h4:hover ~ .em-matrix-part #important-not-urgent,
.em-statistics-part h4:focus ~ .em-matrix-part #important-not-urgent {
  background-color: blue;
}

.em-statistics-part h4:hover ~ .em-matrix-part #not-important-urgent,
.em-statistics-part h4:focus ~ .em-matrix-part #not-important-urgent {
  background-color: blue;
}

.em-statistics-part h4:hover ~ .em-matrix-part #not-important-not-urgent,
.em-statistics-part h4:focus ~ .em-matrix-part #not-important-not-urgent {
  background-color: blue;
}
