.tasks-calendar {
    border-style: double;
    border-color: purple;
    border-radius: 5%;
    color: white;
    backdrop-filter: blur(2.4px);
}

@keyframes DataGridBackground {
    0% {
        box-shadow: 0 0 10px red;
    } 
    50% {
        box-shadow: 0 0 10px purple;
    }
    100% {
        box-shadow: 0 0 10px red;
    }
}

.MuiDataGrid-root {
    color: white;
    /* background-color: red; */
    /* Animation */
    border-style: none;
    animation-name: DataGridBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
