.taskGraphs {
  background-color: white;
  max-height: 100%;
  overflow: y;
  background-color: #000033;
  color: white;
  display: inline list-item;
}

.kanban-board {
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: scroll;
  max-height: 40vh;
  height: max-content;
  border-style: solid;
  border-color: purple;
  background-color: #000033;
}

.graphs-header-buttons {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #00000d;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
  margin-bottom: 10px;
  max-height: 40px;
}

.task {
  background-color: #00000d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.todo div:hover {
  text-shadow: 0 0 10px red;
}

.in-process div:hover {
  text-shadow: 0 0 10px orange;
}

.done div:hover {
  text-shadow: 0 0 10px green;
}

.kanban-header-h2-todo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px red;
}

.kanban-header-h2-in-process {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px orange;
}

.kanban-header-h2-done {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px green;
}

/* .eisenhower-matrix {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
  display: grid;
}

.quadrant {
  flex: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  overflow: scroll;
  flex-direction: column;
}

#important-urgent {
  background-color: #f8d7da;
}
#important-not-urgent {
  background-color: #d1ecf1;
}
#not-important-urgent {
  background-color: #fff3cd;
}
#not-important-not-urgent {
  background-color: #d4edda;
}

.em-matrix-part {
  width: 70%;
  display: contents;
}

.em-statistics-part {
  width: 30%;
  background-color: white;
} */

/* Eisenhower Matrix CSS */

.eisenhower-matrix {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 50vh;
}

.em-matrix-part,
.em-statistics-part {
  border: 1px solid #ccc;
  /* padding: 1em; */
}

.em-matrix-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}

.quadrant {
  background-color: #000033;
  border-style: solid;
  /* border-color: yellow; */
  box-shadow: 0 0 20px yellow;
  text-align: center;
  min-width: 200px;
  max-height: 200px;
  overflow: auto;
  flex-direction: column;
}

.em-statistics-part {
  background-color: black;
  text-align: center;
}
