.taskDetailed {
  border: 1px solid purple;
  color: white;
  border-radius: 8px;
  max-width: 95%;
  padding: 16px;
  background-color: #000033;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: AppearanceAnimation 0.5s ease-out forwards;
}

.td-header {
  display: flex;
  justify-content: space-between;
}

.td-general-info {
  display: flex;
}

.td-date-info {
  justify-content: flex-start;
}

.td-left-info {
  border-right: solid 1px;
  margin-right: 2%;
  padding-right: 2%;
}

.td-right-info {
  color: white;
  float: right;
  text-wrap: wrap;
  overflow: scroll;
}

.td-task-description {
  overflow: auto;
  max-height: 125px;
  background-color: #000025;
}

.td-title {
  overflow: auto;
  max-height: 100px;
  background-color: #000025;
}

.td-par-false {
  text-decoration: line-through;
  color: white;
  text-shadow: 0 0 10px lime;
}

.td-par-true {
  color: white;
  text-shadow: 0 0 10px orange;
}

.td-task-completed {
  color: white;
  text-shadow: 0 0 10px lime;
}

.td-task-in-process {
  color: white;
  text-shadow: 0 0 10px yellow;
}

.td-task-not-completed {
  color: white;
  text-shadow: 0 0 10px red;
}
