.taskGraphs {
  background-color: white;
  /* width: 50%; */
  overflow: y;
  background-color: #000033;
  color: white;
  display: inline list-item;
}

.kanban-board {
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
  max-height: 40vh;
  height: max-content;
  border-style: solid;
  border-color: purple;
  background-color: #000033;
}

.graphs-header-buttons {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #00000d;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
  margin-bottom: 10px;
  max-height: 40px;
}

.task {
  background-color: #00000d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.todo div:hover {
  text-shadow: 0 0 10px red;
}

.in-process div:hover {
  text-shadow: 0 0 10px orange;
}

.done div:hover {
  text-shadow: 0 0 10px green;
}

.kanban-header-h2-todo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px red;
}

.kanban-header-h2-in-process {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px orange;
}

.kanban-header-h2-done {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0 0 10px green;
}

.eisenhower-matrix {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  width: 100%;
}

.quadrant {
  flex: 50%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

#important-urgent {
  background-color: #f8d7da;
}
#important-not-urgent {
  background-color: #d1ecf1;
}
#not-important-urgent {
  background-color: #fff3cd;
}
#not-important-not-urgent {
  background-color: #d4edda;
}
